export("keys<-")
export("values<-")
export(as.list.hash)
export(clear)
export(copy)
export(del)
export(delete)
export(has.key)
export(hash)
export(invert)
export(inverted.hash)
export(is.empty)
export(is.hash)
export(keys)
export(make.keys)
export(setkeys)
export(values)
exportClasses(hash)
importFrom(methods)
